*{
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 90vh;
    margin: 0;
    background-color: #1b1b32;
    color: #f5f6f7;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    align-items: center;
    justify-content: center;
    
    color: #224490;
    background-color: #aaa;
    border: solid 3pt rgb(111, 15, 221);
}

.punteggio {
    flex: 20%;
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}

.main {
    flex: 60%;
    background-color: white;
    padding: 20px;
    text-align: center;
}

.classifica {
    flex: 20%;
    background-color: #f1f1f1;
    padding: 20px;
    height: 100%;
    width: 100%;
    
}

h1 {
    text-align: center;
}

img{
    background-color: #aaa;
}

input {
    width: 50%;
    height: 20%;
    padding: 20px;
    font-size: 50px;
    text-align: center;
}

table{
    border-collapse: collapse;
    width: 50%;
    height: 90%;
    margin: auto;
}

tbody {
    background-color: pink;
}

td, th {
    border: solid 1px black;

}

